.tours_section {
	padding: 50px 0;
	background-color: var(--secondaryClr);
}
.tours_section .img-box {
	padding: 0 12px;
}
.tours_section .img-box .card {
	border: none;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.tours_section .img-box .card a {
	padding: 0;
}
.tours_section .img-box .card img {
	transition: all 0.5 ease 0s;
	display: block;
	filter: brightness(0.8);
}
.tours_section .img-box .card .card-title {
	position: absolute;
	top: 5%;
	left: 3%;
	font-size: 16px;
	color: var(--white);
	line-height: 150%;
	font-weight: bold;
	width: 100%;
}
.tours_section .img-box .card .tours {
	position: absolute;
	right: 5%;
	bottom: 5%;
	font-size: 16px;
	color: var(--primaryClr);
	line-height: 18px;
	font-weight: 600;
	padding: 6px 15px;
	background: var(--white);
	border-radius: 15px;
	transform: translateX(120%);
	transition: 0.2s ease-in;
}
.tours_section .img-box .card:hover {
	transition: 0.2 ease-in;
}
.tours_section .img-box .card:hover img {
	filter: brightness(1);
	transform: scale(1.1);
}
.tours_section .img-box .card:hover .tours {
	transform: translateX(0);
}
